<div
  class="flex relative flex-col w-full h-full items-center bg-white p-4 overflow-y-scroll"
>
  <div class="w-full flex justify-between items-center mb-4">
    <button (click)="goBack($event)" class="text-gray-800 text-lg">
      <fa-icon [icon]="faArrowLeft" class="text-black text-[25px]"></fa-icon>
    </button>
    <h1 class="text-lg font-semibold">Paiements</h1>
    <div></div>
  </div>

  <div class="mb-8 w-[85%]">
    <div class="relative">
      <div
        class="absolute inset-y-0 left-3 flex items-center pointer-events-none"
      >
        <svg
          class="w-5 h-5 text-gray-400"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          />
        </svg>
      </div>

      <input
        type="text"
        [(ngModel)]="query"
        id="query"
        placeholder="Chercher par nom"
        class="w-full pl-10 pr-4 py-3 bg-white border border-gray-100 rounded-2xl text-gray-400 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
  </div>

  <div class="grid grid-cols-4 gap-[100px] mb-12 w-[85%]">
    <div
      (click)="query = 'facture'"
      class="group text-center hover:cursor-pointer"
    >
      <div
        class="w-16 h-16 mx-auto group-hover:bg-orange-200 mb-2 rounded-full flex items-center justify-center"
      >
        <fa-icon
          [icon]="faLightbulb"
          class="text-orange-400 text-[50px]"
        ></fa-icon>
      </div>
      <span class="text-sm">Factures</span>
    </div>

    <div
      (click)="query = 'restaurant'"
      class="group text-center hover:cursor-pointer"
    >
      <div
        class="w-16 h-16 mx-auto group-hover:bg-purple-200 mb-2 rounded-full flex items-center justify-center"
      >
        <fa-icon
          [icon]="faBurger"
          class="text-purple-400 text-[50px]"
        ></fa-icon>
      </div>
      <span class="text-sm">Restauration</span>
    </div>
  </div>

  <div class="mb-8 w-[85%]">
    @for (fournisseur of (fournisseurs$ | async | searchContact : query ); track
    fournisseur.id) {
    <div
      (click)="handleChooseFournisseur(fournisseur)"
      class="flex hover:bg-gray-200 hover:cursor-pointer items-center p-4 bg-gray-50 rounded-xl mb-4 shadow-sm"
    >
      <div
        class="w-12 h-12 bg-black rounded-lg flex items-center justify-center mr-4"
      >
        <img [src]="fournisseur.logo" alt="Canal+" class="w-[100%] h-[100%]" />
      </div>
      <span class="text-lg font-medium">{{ fournisseur.libelle }}</span>
    </div>
    }
  </div>
</div>
