:root {
  --shadow-rgb: 11, 20, 26;
}

.content {
  box-shadow: rgba(3, 102, 214, 0.5) 0px 0px 0px 3px !important;
}

.qr-content {
}

.qr-icon {
  background-image: url(/assets/icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.qr-code {
  background-image: url(/assets/qr-code.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  position: absolute;
  z-index: 150;
  height: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
