<div
  class="flex relative flex-col w-full h-full items-center bg-white p-4 overflow-y-scroll"
>
  <div class="w-full flex justify-between items-center mb-4">
    <button class="text-gray-800 text-lg">
      <fa-icon [icon]="faArrowLeft" class="text-black text-[25px]"></fa-icon>
    </button>
    <h1 class="text-lg font-semibold">Relier ma banque</h1>
    <div></div>
  </div>

  <div class="flex items-center mb-4 w-[85%]">
    <input
      type="text"
      placeholder="Rechercher"
      class="w-full px-4 py-2 text-gray-700 bg-white border border-[#1ab3e5] rounded-lg focus:outline-none focus:border-2"
    />
  </div>

  <div class="flex space-x-4 mb-4 w-[85%]">
    <button
      class="flex items-center px-4 py-2 text-white bg-gray-700 rounded-full focus:outline-none"
    >
      <span class="mr-2">🏦</span>
      Banque
    </button>
    <button
      class="flex items-center px-4 py-2 text-gray-700 bg-gray-200 rounded-full focus:outline-none"
    >
      <span class="mr-2">🎭</span>
      SFD
    </button>
  </div>

  <div class="w-[85%]">
    <h2 class="mb-2 text-lg font-semibold text-gray-900">Banque</h2>
    <div
      class="bg-gray-50 hover:bg-gray-200 hover:cursor-pointer p-2 flex items-center mb-4"
    >
      <img
        src="https://placehold.co/48"
        alt="BIMAO Logo"
        class="w-12 h-12 mr-3"
      />
      <span class="text-gray-900">BIMAO</span>
    </div>
  </div>
</div>
