<div
  class="flex relative flex-col w-full h-full items-center bg-white p-4 overflow-y-scroll"
>
  <div class="w-full flex justify-between items-center mb-4">
    <button class="text-gray-800 text-lg">
      <fa-icon [icon]="faArrowLeft" class="text-black text-[25px]"></fa-icon>
    </button>
    <h1 class="text-lg font-semibold">Relier ma banque</h1>
    <div></div>
  </div>
  <div class="flex flex-col justify-center items-center pt-[20%] gap-y-12">
    <div class="mb-6">
      <img
        src="https://placehold.co/96"
        alt="BIMAO Logo"
        class="mx-auto w-24 mb-4"
      />
      <h2 class="text-lg text-gray-600">
        Frais 1% - premier dépôt par mois sans frais
      </h2>
    </div>

    <div class="mb-4">
      <h3 class="text-2xl font-semibold">Clé d'activation:</h3>
      <p class="text-3xl font-bold text-black tracking-wider mt-2">N5LX T9QB</p>
    </div>

    <p class="text-gray-600">Donnez cette clé à votre conseiller client.</p>
  </div>
</div>
