<div
  class="flex min-w-[450px] min-h-[835px] py-5 max-sm:px-5 justify-center items-start h-full bg-[#1ab3e5] overflow-y-auto relative"
>
  <div class="absolute bottom-0 left-0 z-10">
    <img
      src="https://www.wave.com/img/pattern/round_pattern_indigo.png"
      class="w-[200px] md:w-[250px] lg:w-[300px] h-auto"
      alt="Round Pattern Indigo"
    />
  </div>

  <div class="absolute top-0 right-0 z-10">
    <img
      src="https://www.wave.com/img/pattern/angle_pattern_sky.png"
      class="w-[200px] md:w-[250px] lg:w-[300px] h-auto transform rotate-90"
      alt="Angle Pattern Sky"
    />
  </div>

  <div
    class="relative grid grid-cols-[2fr_4fr] max-sm:grid-cols-[1fr] content w-full md:w-12/12 lg:w-10/12 h-full bg-white shadow-inner z-20"
  >
    <div class="border border-sky-500 max-sm:hidden">
      <router-outlet
        (dataEmitter)="handleDataFromChild($event)"
      ></router-outlet>
    </div>

    <div
      class="relative flex flex-col bg-[#4647d3] max-h-[97vh] justify-between border border-sky-500"
    >
      <div class="flex flex-col space-y-2 h-[12%]">
        <div
          class="flex flex-row min-sm:justify-end justify-between border border-sky-500 flex-grow"
        >
          <button class="min-sm:hidden">
            <fa-icon
              [icon]="faBars"
              class="text-white text-[30px] ml-3"
            ></fa-icon>
          </button>
          <a routerLink="/web/parametre">
            <fa-icon
              [icon]="faGear"
              class="text-white text-[30px] mr-3"
            ></fa-icon>
          </a>
        </div>
        <div
          class="flex flex-row justify-center items-center border border-sky-500 flex-grow"
        >
          <span
            class="text-[30px] text-white font-bold"
            [class.hidden]="!showSolde"
            #soldeGlobalSpan
          >
            @if(homeData){
            {{ soldeGlobal() | moneyFormat }}
            }@else{ _____ } Fcfa</span
          >
          <span
            class="text-[30px] text-white font-bold"
            [class.hidden]="showSolde"
            >••••••</span
          >
          <fa-icon
            (click)="handleSlashEye()"
            [icon]="showSolde ? faEye : faEyeSlash"
            class="text-white text-[20px] ml-3 hover:cursor-pointer"
          ></fa-icon>
        </div>
      </div>
      <div
        style="
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
            rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
            rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        "
        class="flex absolute rounded-2xl max-sm:w-[70%] min-md:w-[27%] w-[37%] h-[23%] qr-code-container top-[15%] bg-[#1ab3e5] border border-sky-500 z-30"
      >
        <div
          class="qr-content flex justify-center items-center relative w-[100%] h-[100%]"
        >
          <div
            style="
              box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            "
            class="qr-code border border-1 border-black w-[150px] h-[150px]"
          ></div>
          <div
            class="qr-icon absolute w-[40px] h-[65px] right-4 bottom-3"
          ></div>
        </div>
      </div>
      <div
        class="h-[70%] flex flex-col bg-[#f0f0f0] gap-y-3 border-sky-500 mt-auto rounded-t-3xl"
      >
        <div
          style="
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
              rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
              rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          "
          class="flex flex-row bg-white gap-8 pt-20 pb-5 justify-center items-center"
        >
          <a routerLink="/web/contact" class="flex flex-col">
            <div
              class="bg-blue-200 rounded-full w-16 h-16 flex justify-center items-center"
            >
              <fa-icon
                [icon]="faUser"
                class="text-blue-600 text-[35px]"
              ></fa-icon>
            </div>
            <span class="text-center">Transfert</span>
          </a>

          <a routerLink="/web/paiement" class="flex flex-col">
            <div
              class="bg-yellow-200 rounded-full w-16 h-16 flex justify-center items-center"
            >
              <fa-icon
                [icon]="faBasketShopping"
                class="text-orange-600 text-[35px]"
              ></fa-icon>
            </div>
            <span class="text-center">Paiement</span>
          </a>

          <a routerLink="/web/credit" class="flex flex-col">
            <div
              class="bg-blue-100 rounded-full w-16 h-16 flex justify-center items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-10 h-10 text-blue-500"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M17 2H7c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 18H7V4h10v16z"
                />
              </svg>
            </div>
            <span class="text-center">Crédit</span>
          </a>

          <a routerLink="/web/banque" class="flex flex-col">
            <div
              class="bg-red-100 rounded-full w-16 h-16 flex justify-center items-center"
            >
              <fa-icon
                [icon]="faBuildingColumns"
                class="text-red-500 text-[35px]"
              ></fa-icon>
            </div>
            <span class="text-center">Banque</span>
          </a>
        </div>

        <div
          style="
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
              rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
              rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          "
          class="flex flex-col border border-1 bg-white flex-auto overflow-y-scroll"
        >
          @for (transaction of transactions$() | orderByDate: 'createdAt':'desc'
          ; track transaction.id) {
          <div
            (click)="handleDetailTransaction(transaction.id)"
            class="flex hover:cursor-pointer hover:bg-gray-100 justify-between items-center p-4 bg-white border-b border-gray-200"
          >
            <div>
              <p class="text-blue-600 font-semibold">
                {{ transaction.type_transaction }}
              </p>
              <p class="text-gray-500 text-sm">
                {{ transaction.createdAt | date : "MMMM d, y 'at' h:mm a" }}
              </p>
            </div>
            <div class="text-blue-600 font-semibold">
              @if(transaction.sender_id == homeData.user.id){
              {{ -transaction.montant_envoye }}
              }@else{
              {{ transaction.montant_recus }}
              }
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
